body{
    background-color: #F9FAFB;
    color: #415164;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
  }
  canvas{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
  .wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .avatar{
    border-radius: 50%;
    width: 144px;
    height: 144px;
    margin: auto;
    border: 6px solid #ECEFF2;
    position: relative;
    box-shadow: 0 2px 2px rgba(155,162,177,.2),
                0 4px 4px rgba(155,162,177,.2),
                0 8px 8px rgba(155,162,177,.2),
                0 16px 16px rgba(155,162,177,.2),
                0 32px 32px rgba(155,162,177,.2),
                0 64px 64px rgba(155,162,177,.2);
  }
  .avatar img {
    border-radius: 50%;
  }
  .avatar::before,
  .avatar::after{
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #E1E1E1;
    display: block;
    border-radius: 50%;
    z-index: -1;
  }
  .avatar::before{
    width:192px;
    height: 192px;
    opacity: .6;
  }
  .avatar::after{
    width: 248px;
    height: 248px;
    opacity: .4;
  }
  h1{
    font-weight: 100;
    margin: 55px 0 18px;
    font-size: 48px;
  }
  p{
    font-weight: 800;
    margin: 10px 0;
    font-size: 19px;
    letter-spacing: 3.6px;
  }
  .contacts{
    list-style: none;
    text-align: right;
    padding: 0;
  }
  .contacts li{
    display: inline-block;
    margin: 0 5px;
  }
  .contacts li a{
    font-size: 22px;
    transition: .6s ease-out;
    color:#415164;
  }
  .contacts li a:hover{
    opacity: .5;
  }
  .box{
    display: block;
    width: 270px;
    height: 270px;
    position: absolute;
  }
  .box--one{
    background: #57C0CC;
    transform:rotate(45deg);
    left: -12%;
    bottom: -3%;
    -webkit-filter: blur(12px); /* Safari */
   filter: blur(12px);
  }
  .box--two{
    background: #FFDC8B;
    transform:rotate(45deg);
    right: -12%;
    top: -3%;
    -webkit-filter: blur(5px); /* Safari */
   filter: blur(5px);
  }
  .box--three{
    left: 15%;
    top: 14%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    background: #2FCAEE;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .box--four{
    width: 0;
    height: 0;
    right: 19%;
    bottom: 15%;
    -webkit-filter: blur(6px); /* Safari */
   filter: blur(6px);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 36px solid #F65A5B;
    transform: rotate(18deg);
  }
  @media only screen and (max-width: 576px) {
    .box--one {
      bottom: -22%;
      left: -24%;
    }
    .box--two {
      top: -26%;
      right: -20%;
    }
  }
  .icon {
    width: 22px;
    height: 22px;
    fill: #415164;
  }